header {
  height: 70vh;
  position: relative;
}

header .logo {
  position: absolute;
  top: 5%;
  right: 5%;
  width: 70px;
}

.tiger {
  position: absolute;
  top: 0;
  right: 5%;
  width: 300px;
  opacity: 10%;
}

.player-img {
  z-index: 1;
}

.text-content h1 {
  font-size: 90px;
  position: absolute;
  top: 20%;
  left: 45%;
  font-family: 'Times New Roman', sans-serif;
}

.text-content h4 {
  position: absolute;
  top: 50%;
  left: 45%;
  color: #fff;
  line-height: 43px;
}

.main-section {
  background: #090a27;
}

.card-body {
  background: #19223C;
  border: none;
  outline: none;
}